body {width:750px;
margin-left:auto;
margin-right:auto;
}

li.navigation {display:inline;
padding-left:5px;
padding-right:5px;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:red;
text-transform:uppercase;}
a:active {text-decoration:none;}

header {width:750px;
height:75px;
background-color:blue;
color:white;
text-align:center;
font-size:200%;
}

nav {width:750px;
height:50px;
background-color:gold;
color:white;
text-align:center;
}

article {width:525px;
height:300px;
background-color:green;
color:white;
text-align:center;
padding-top:10px;
padding-bottom:10px;
float:left;
}

section {width:525px;
height:100px;
background-color:white;
color:blue;
text-align:center;
padding-top:10px;
padding-bottom:10px;
margin-left:auto;
margin-right:auto;
}

aside {width:225px;
height:320px;
background-color:purple;
float:right;
}

footer {width:750px;
height:50px;
background-color:blue;
color:white;
text-align:center;
float:left;
}