hr {height:8px;
background-color:#4169E1;}

body {text-align:center;
margin-left:auto;
margin-right:auto;
width:600px;}

div {width:380px;
text-align:center;}

nav {margin:2em 2em 2em 2em;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;
color:#FF0000;
text-transform:uppercase;}
a:active {text-decoration:none;}

.copyright:after
{content:"\00a9";}

footer {padding-top:5px;
border-top-style:double;}

address {display:inline;
padding-left:20px;}

h2 {color:blue;
text-align:center;}
h3 {color:purple;}

.address {padding-left:20px;}

form {border-style:outset;
border-color:green;
border-style:solid;
padding: 10px 10px 10px 10px;}

img {position:fixed;
right:375px;
width:200px;
height:200px;}

