article.float{width:200px;
height:100px;
background-color:green;
color:white;
text-align:center;
float:left;

}

section.floatone{width:200px;
height:25px;
background-color:white;
color:blue;
text-align:center;
float:left;
}

section.floattwo{width:200px;
height:25px;
background-color:white;
color:blue;
text-align:center;
float:left;
}

aside.float{width:200px;
height:100px;
background-color:purple;
text-align:center;
float:left;
}

footer.float{width:400px;
height:50px;
background-color:blue;
color:white;
text-align:center;
float:left;
}