article.relative{width:200px;
height:100px;
background-color:green;
color:white;
text-align:center;

position:relative;

}

section.relativeone{width:200px;
height:25px;
background-color:white;
color:blue;
text-align:center;
position:relative;
}

section.relativetwo{width:200px;
height:25px;
background-color:white;
color:blue;
text-align:center;
position:relative;
}

aside.relative{width:200px;
height:100px;
background-color:purple;
position:relative;
left:200px;
text-align:center;
bottom:100px;
}

footer.relative{width:400px;
height:50px;
background-color:blue;
color:white;
text-align:center;
position:relative;
bottom:100px;
}